<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sản Phẩm</title>

    <link th:href="${bootstrapCss}" rel="stylesheet">

</head>
<body>

    <div class="container">
        <h3>Menu Động</h3>
        <a type="button" th:href="@{{host}/admin/ (host=${host})}" class="btn btn-success">Admin</a>
        <br>

        <a type="button" th:href="@{{host}/admin/menu-dong/them (host=${host})}" class="btn btn-info">Thêm</a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Menu Name</th>
                    <th scope="col">Url</th>
                    <th scope="col">Thứ Tự</th>
                    <th scope="col">Is Parent</th>
                    <th scope="col">Parent Id</th>
                    <th scope="col">Description</th>
                    <th scope="col">Is Visible</th>
                    <th scope="col">Sửa</th>
                    <th scope="col">Xoá</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${listMenuDong.empty}" scope="row">
                    <td colspan="6">No Books Available</td>
                </tr>
                <tr th:each="obj : ${listMenuDong}">
                    <td scope="row">
                        <span th:text="${obj.menuName}">Menu Name</span>
                    </td>

                    <td>
                        <span th:text="${obj.url}">Url</span>
                    </td>

                    <td>
                        <span th:text="${obj.menuOrder}">Thứ Tự</span>
                    </td>

                    <td>
                        <span th:text="${obj.isParent}">Is Parent</span>
                    </td>

                    <td>
                        <span th:text="${obj.parentId}">Parent Id</span>
                    </td>

                    <td>
                        <span th:text="${obj.description}">Description</span>
                    </td>

                    <td>
                        <span th:text="${obj.isVisible}">Is Visible</span>
                    </td>

                    <td>
                        <a th:href="@{/admin/menu-dong/edit/{id}(id=${obj.id})}">Sửa</a>
                    </td>
                    <td>
                        <a th:href="@{/admin/menu-dong/delete/{id}(id=${obj.id})}">Xoá</a>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>