<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sản Phẩm</title>

    <link th:href="${bootstrapCss}" rel="stylesheet">

</head>
<body>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Giá</th>
                    <th scope="col">Số Lượng</th>
                    <th scope="col">Sửa</th>
                    <th scope="col">Xoá</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${listProduct.empty}" scope="row">
                    <td colspan="6">No Books Available</td>
                </tr>
                <tr th:each="obj : ${listProduct}">
                    <td scope="row">
                        <span th:text="${obj.name}">Name</span>
                    </td>

                    <td>
                        <span th:text="${obj.description}">Giá</span>
                    </td>

                    <td>
                        <span th:text="${obj.quantity}">Số Lượng</span>
                    </td>

                    <td><a th:href="@{product/edit/{id}(id=${obj.id})}">Sửa</a></td>
                    <td><a>Xoá</a></td>

                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>