<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sản Phẩm</title>

    <link href="../webjars/bootstrap/4.1.1/css/bootstrap.min.css"
          rel="stylesheet">

</head>
<body>
<button type="button" class="btn btn-primary">Primary</button>
    <div>
        <table>
            <thead>
            <tr>
                <th> Name </th>
                <th> Giá </th>
                <th> Số Lượng </th>
                <th> Sửa </th>
                <th> Xoá </th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${listProduct.empty}">
                <td colspan="2"> No Books Available </td>
            </tr>
            <tr th:each="obj : ${listProduct}">
                <td>
                    <span th:text="${obj.name}"> Name </span>
                </td>

                <td>
                    <span th:text="${obj.description}"> Giá </span>
                </td>

                <td>
                    <span th:text="${obj.quantity}"> Số Lượng </span>
                </td>

                <td>
                    Sửa
                </td>

                <td>
                    Xoá
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</body>
</html>