<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sản Phẩm Thêm</title>

    <link th:href="${bootstrapCss}" rel="stylesheet">

</head>
<body>

    <div class="container">
        <h3>Thêm sản phẩm</h3>
        <form>
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control"">
            </div>

            <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control"">
            </div>

            <div class="form-group">
                <label>Price</label>
                <input type="text" class="form-control"">
            </div>

            <div class="form-group">
                <label>Quantity</label>
                <input type="text" class="form-control"">
            </div>

            <div class="form-group">
                <label>Visible</label>
                <input type="text" class="form-control"">
            </div>

            <button type="submit" class="btn btn-primary">Gửi</button>
        </form>

    </div>

</body>
</html>