<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thêm Sản Phẩm</title>

    <link th:href="${bootstrapCss}" rel="stylesheet">

</head>
<body>

    <div id="menu-dong-them">
        <h2>Thêm Menu Động</h2>

        <form th:action="@{/admin/menu-dong/save}" method="post" th:object="${obj}">
            <div class="form-group">
                <label>Menu Name</label>
                <input type="text" th:field="*{menuName}" class="form-control">
            </div>

            <div class="form-group">
                <label>Url</label>
                <input type="text" th:field="*{url}" class="form-control">
            </div>

            <div class="form-group">
                <label>Thứ Tự</label>
                <input type="text" th:field="*{menuOrder}" class="form-control">
            </div>

            <div class="form-group">
                <label>Is Parent</label>
                <input type="text" th:field="*{isParent}" class="form-control">
            </div>

            <div class="form-group">
                <label>Parent Id</label>
                <input type="text" th:field="*{parentId}" class="form-control">
            </div>

            <div class="form-group">
                <label>Description</label>
                <input type="text" th:field="*{description}" class="form-control">
            </div>

            <div class="form-group">
                <label>Is Visible</label>
                <input type="text" th:field="*{isVisible}" class="form-control">
            </div>

            <button type="submit" class="btn btn-primary">Thêm</button>
        </form>

    </div>

</body>
</html>