<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sửa Sản Phẩm</title>

    <link th:href="${bootstrapCss}" rel="stylesheet">

</head>
<body>

    <div class="container">
        <h3>Sửa Menu Động</h3>

        <form th:action="@{/admin/menu-dong/update}" method="post">
            <div class="form-group">
                <label>Id</label>
                <input type="text" class="form-control" th:field="*{menuDong.menuDongId}">
            </div>

            <div class="form-group">
                <label>Menu Name</label>
                <input type="text" class="form-control" th:field="*{menuDong.menuName}">
            </div>

            <div class="form-group">
                <label>Url</label>
                <input type="text" class="form-control" th:field="*{menuDong.url}">
            </div>

            <div class="form-group">
                <label>Thứ Tự</label>
                <input type="text" class="form-control" th:field="*{menuDong.menuOrder}">
            </div>

            <div class="form-group">
                <label>Is Parent</label>
                <input type="text" class="form-control" th:field="*{menuDong.isParent}">
            </div>

            <div class="form-group">
                <label>Parent Id</label>
                <input type="text" class="form-control" th:field="*{menuDong.parentId}">
            </div>

            <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control" th:field="*{menuDong.description}">
            </div>

            <div class="form-group">
                <label>Is Visible</label>
                <input type="text" class="form-control" th:field="*{menuDong.isVisible}">
            </div>

            <button type="submit" class="btn btn-primary">Gửi</button>
        </form>

    </div>

</body>
</html>