<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sửa Menu Động</title>

    <link th:href="${bootstrapCss}" rel="stylesheet">

</head>
<body>

    <div id="menu-dong-edit" class="col-md-6">
        <h4>Sửa Menu Động</h4>

        <form th:action="@{/admin/menu-dong/update}" method="post">
            <!-- menu động id hidden -->
            <input type="hidden" class="form-control form-control-sm" th:field="*{menuDong.menuDongId}">

            <div class="form-group row">
                <label class="col-sm-4">Menu Name</label>

                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" th:field="*{menuDong.menuName}"
                           required>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4">Menu Link</label>

                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" th:field="*{menuDong.menuLink}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4">Thứ Tự</label>

                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" th:field="*{menuDong.menuOrder}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4">Is Parent</label>

                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" th:field="*{menuDong.isParent}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4">Parent Id</label>

                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" th:field="*{menuDong.parentId}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4">Description</label>

                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" th:field="*{menuDong.description}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4">Is Visible</label>

                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" th:field="*{menuDong.isVisible}">
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Gửi</button>
        </form>

    </div>

</body>
</html>