<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sản Phẩm</title>

    <link th:href="${bootstrapCss}" rel="stylesheet">
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.4/css/all.css} "/>

</head>
<body>

    <div class="" id="menu-dong-list">
        <h2>Menu Động</h2>
        <a type="button" th:href="@{{host}/admin/ (host=${host})}" class="btn btn-success">Admin</a>
        <br>

        <a type="button" th:href="@{{host}/admin/menu-dong/them (host=${host})}" class="btn btn-info">Thêm</a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Menu Name</th>
                    <th scope="col">Url</th>
                    <th scope="col">Thứ Tự</th>
                    <th scope="col">Is Parent</th>
                    <th scope="col">Parent Id</th>
                    <th scope="col">Description</th>
                    <th scope="col" class="text-center">Is Visible</th>
                    <th scope="col">Sửa</th>
                    <th scope="col">Xoá</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${listMenuDong.empty}" scope="row">
                    <td colspan="6">No Books Available</td>
                </tr>

                <tr th:each="obj : ${listMenuDong}">
                    <td scope="row">
                        <span th:text="${obj.menuName}">Menu Name</span>
                    </td>

                    <td>
                        <span th:text="${obj.url}">Url</span>
                    </td>

                    <td>
                        <span th:text="${obj.menuOrder}">Thứ Tự</span>
                    </td>

                    <td th:switch="${obj.isParent}">
                        <span th:case="1">
                            <i class="fas fa-check text-success"></i>
                        </span>

                        <span th:case="0">
                            <i class="far fa-times-circle text-danger"></i>
                        </span>
                    </td>

                    <td>
                        <span th:text="${obj.parentId}">Parent Id</span>
                    </td>

                    <td>
                        <span th:text="${obj.description}">Description</span>
                    </td>

                    <td th:switch="${obj.isVisible}" class="text-center">
                        <span th:case="1">
                            <i class="fas fa-eye text-success" data-toggle="tooltip" title="Hiển Thị"></i>
                        </span>

                        <span th:case="0">
                            <i class="far fa-eye-slash" data-toggle="tooltip" title="Ẩn"></i>
                        </span>
                    </td>

                    <td>
                        <a th:href="@{/admin/menu-dong/edit/{menuDongId}(menuDongId=${obj.menuDongId})}" class="text-success">
                            <i class="fas fa-pen"></i>
                        </a>
                    </td>

                    <td>
                        <a th:href="@{/admin/menu-dong/delete/{menuDongId}(menuDongId=${obj.menuDongId})}" class="text-danger">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>