
<!-- setting edit -->
<div id="setting-edit" class="col-md-6">
    <h4>Sửa Setting</h4>

    <form th:action="@{/admin/setting/update}" method="post" enctype="multipart/form-data">
        <!-- setting id hidden -->
        <input type="hidden" th:field="*{setting.settingId}" />

        <!-- Copyright -->
        <div class="form-group row">
            <label class="col-sm-4">Copyright</label>

            <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm" th:field="*{setting.copyright}" />
            </div>
        </div>

        <!-- Phone -->
        <div class="form-group row">
            <label class="col-sm-4">Phone</label>

            <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm" th:field="*{setting.phone}" />
            </div>
        </div>

        <!-- Email -->
        <div class="form-group row">
            <label class="col-sm-4">Email</label>

            <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm" th:field="*{setting.email}" />
            </div>
        </div>

        <!-- Web Name -->
        <div class="form-group row">
            <label class="col-sm-4">Web Name</label>

            <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm" th:field="*{setting.webName}" />
            </div>
        </div>

        <!-- Image -->
        <div class="form-group row">
            <label class="col-sm-4"></label>

            <div class="col-sm-8">
                <div class="form-group row">
                    <div class="col-sm-4 paRi0">
                        <img th:src="@{'/image/' + ${setting.imageName}}" th:if="${setting.imageName != null}" class="rounded wi100Pe" alt="Ảnh Sản Phẩm">
                        <img th:src="@{'/image/img_not_available.png'}" th:if="${setting.imageName == null}" class="rounded wi100Pe" alt="Ảnh Sản Phẩm">
                    </div>

                    <div class="col-sm-8">
                        <input type="hidden" th:field="*{setting.imageName}">
                        <input type="file" name="imageFile" class="form-control-file">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4 paRi0">
                        <!-- danh sách banner (đến danh sách banner đã lưu từ trước) -->
                        <a href="#">Ds banners</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Module 1 -->
        <div class="form-group row">
            <label class="col-sm-4">Module 1</label>

            <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm" th:field="*{setting.module1}" />
            </div>
        </div>

        <!-- Link 1 -->
        <div class="form-group row">
            <label class="col-sm-4">Link 1</label>

            <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm" th:field="*{setting.link1}" />
            </div>
        </div>

        <!-- Link 2 -->
        <div class="form-group row">
            <label class="col-sm-4">Link 2</label>

            <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm" th:field="*{setting.link2}" />
            </div>
        </div>

        <!-- Link 3 -->
        <div class="form-group row">
            <label class="col-sm-4">Link 3</label>

            <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm" th:field="*{setting.link3}" />
            </div>
        </div>

        <!-- Link 4 -->
        <div class="form-group row">
            <label class="col-sm-4">Link 4</label>

            <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm" th:field="*{setting.link4}" />
            </div>
        </div>

        <!-- Module 2 -->
        <div class="form-group row">
            <label class="col-sm-4">Module 2</label>

            <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm" th:field="*{setting.module2}" />
            </div>
        </div>

        <!-- Link 5 -->
        <div class="form-group row">
            <label class="col-sm-4">Link 5</label>

            <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm" th:field="*{setting.link5}" />
            </div>
        </div>

        <!-- Link 6 -->
        <div class="form-group row">
            <label class="col-sm-4">Link 6</label>

            <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm" th:field="*{setting.link6}" />
            </div>
        </div>

        <!-- Link 7 -->
        <div class="form-group row">
            <label class="col-sm-4">Link 7</label>

            <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm" th:field="*{setting.link7}" />
            </div>
        </div>

        <!-- Link 8 -->
        <div class="form-group row">
            <label class="col-sm-4">Link 8</label>

            <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm" th:field="*{setting.link8}" />
            </div>
        </div>

        <!-- Module 3 -->
        <div class="form-group row">
            <label class="col-sm-4">Module 3</label>

            <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm" th:field="*{setting.module3}" />
            </div>
        </div>

        <!-- Link 9 -->
        <div class="form-group row">
            <label class="col-sm-4">Link 9</label>

            <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm" th:field="*{setting.link9}" />
            </div>
        </div>

        <!-- Link 10 -->
        <div class="form-group row">
            <label class="col-sm-4">Link 10</label>

            <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm" th:field="*{setting.link10}" />
            </div>
        </div>

        <!-- Link 11 -->
        <div class="form-group row">
            <label class="col-sm-4">Link 11</label>

            <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm" th:field="*{setting.link11}" />
            </div>
        </div>

        <!-- Link 12 -->
        <div class="form-group row">
            <label class="col-sm-4">Link 12</label>

            <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm" th:field="*{setting.link12}" />
            </div>
        </div>

        <!-- Module 4 -->
        <div class="form-group row">
            <label class="col-sm-4">Module 4</label>

            <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm" th:field="*{setting.module4}" />
            </div>
        </div>

        <!-- Link 13 -->
        <div class="form-group row">
            <label class="col-sm-4">Link 13</label>

            <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm" th:field="*{setting.link13}" />
            </div>
        </div>

        <!-- Link 14 -->
        <div class="form-group row">
            <label class="col-sm-4">Link 14</label>

            <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm" th:field="*{setting.link14}" />
            </div>
        </div>

        <!-- Link 15 -->
        <div class="form-group row">
            <label class="col-sm-4">Link 15</label>

            <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm" th:field="*{setting.link15}" />
            </div>
        </div>

        <!-- Link 16 -->
        <div class="form-group row">
            <label class="col-sm-4">Link 16</label>

            <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm" th:field="*{setting.link16}" />
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Lưu</button>
    </form>

</div>
