<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>

    <link rel="Shortcut icon" th:href="@{/logo.png}">

    <!-- bootstrap css -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css} "/>
    <!-- custom css -->
    <link th:href="@{/style/style-common.css}" rel="stylesheet" />
    <link th:href="@{/style/side-bar-left-and-modal-and-list-product.css}" rel="stylesheet" />
    <link th:href="@{/style/style.css}" rel="stylesheet" />

    <script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
</head>
<body>

    <header th:insert="client/header.html::#header"></header>
    <div th:insert="client/menu.html::#menu"></div>

    <div th:insert="client/list-product.html::#list-product"></div>
    <div th:insert="client/lien-he.html::#lien-he"></div>

    <footer th:insert="client/footer.html::#footer"></footer>

    <script th:src="@{/webjars/popper.js/1.14.1/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.min.js}"></script>

</body>
</html>