<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trang Chủ</title>

    <link rel="Shortcut icon" th:href="@{/logo.png}">
    <link th:href="@{/style/side-bar-left-and-modal-and-list-product.css}" rel="stylesheet" />
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css} "/>

</head>
<body>

    <header th:insert="client/header.html :: header"></header>

    <div th:insert="client/menu.html :: menu"></div>
    <div th:insert="client/list-product.html :: listProduct"></div>
    <div th:insert="client/lien-he.html :: lienHe"></div>

    <footer th:insert="client/footer.html :: footer"></footer>

    <script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.14.1/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.min.js}"></script>

</body>
</html>