
<!-- footer -->
<div id="footer">
    <!-- Footer -->
    <footer class="bg-dark text-center text-white maTo30">
        <!-- Grid container -->
        <div class="container p-4">
            <!-- Section: Text -->
            <section class="mb-4">
                <p th:text="${setting.webName}"></p>
            </section>

            <!-- Section: Links -->
            <section class="">
                <!--Grid row-->
                <div class="row">
                    <!-- Module 1 -->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase text-left" th:text="${setting.module1}">Module 1</h5>

                        <ul class="list-unstyled mb-0">
                            <li class="text-left">
                                <a href="#!" class="text-white" th:text="${setting.link1}">Link 1</a>
                            </li>

                            <li class="text-left">
                                <a href="#!" class="text-white" th:text="${setting.link2}">Link 2</a>
                            </li>

                            <li class="text-left">
                                <a href="#!" class="text-white" th:text="${setting.link3}">Link 3</a>
                            </li>

                            <li class="text-left">
                                <a href="#!" class="text-white" th:text="${setting.link4}">Link 4</a>
                            </li>
                        </ul>
                    </div>

                    <!-- Module 2 -->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase text-left" th:text="${setting.module2}">Module 2</h5>

                        <ul class="list-unstyled mb-0">
                            <li class="text-left">
                                <a href="#!" class="text-white" th:text="${setting.link5}">Link 5</a>
                            </li>

                            <li class="text-left">
                                <a href="#!" class="text-white" th:text="${setting.link6}">Link 6</a>
                            </li>

                            <li class="text-left">
                                <a href="#!" class="text-white" th:text="${setting.link7}">Link 7</a>
                            </li>

                            <li class="text-left">
                                <a href="#!" class="text-white" th:text="${setting.link8}">Link 8</a>
                            </li>
                        </ul>
                    </div>

                    <!-- Module 3 -->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase text-left" th:text="${setting.module3}">Module 3</h5>

                        <ul class="list-unstyled mb-0">
                            <li class="text-left">
                                <a href="#!" class="text-white" th:text="${setting.link9}">Link 9</a>
                            </li>

                            <li class="text-left">
                                <a href="#!" class="text-white" th:text="${setting.link10}">Link 10</a>
                            </li>

                            <li class="text-left">
                                <a href="#!" class="text-white" th:text="${setting.link11}">Link 11</a>
                            </li>

                            <li class="text-left">
                                <a href="#!" class="text-white" th:text="${setting.link12}">Link 12</a>
                            </li>
                        </ul>
                    </div>

                    <!-- Module 4 -->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase text-left" th:text="${setting.module4}">Module 4</h5>

                        <ul class="list-unstyled mb-0">
                            <li class="text-left">
                                <a href="#!" class="text-white" th:text="${setting.link13}">Link 13</a>
                            </li>

                            <li class="text-left">
                                <a href="#!" class="text-white" th:text="${setting.link14}">Link 14</a>
                            </li>

                            <li class="text-left">
                                <a href="#!" class="text-white" th:text="${setting.link15}">Link 15</a>
                            </li>

                            <li class="text-left">
                                <a href="#!" class="text-white" th:text="${setting.link16}">Link 16</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </section>
            <!-- Section: Links -->
        </div>

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            <span>&copy;</span>
            <span th:text="${setting.copyright}"></span>
            <a class="text-white" href="https://google.com/">oto.com</a>
        </div>
    </footer>
</div>
