
    <div id="lien-he">

        <div class="container contact-form">

            <form method="post">
                <h5 class="maBo18">Gửi ý kiến góp ý</h5>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" name="txtName" class="form-control" placeholder="Họ tên *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="txtEmail" class="form-control" placeholder="Email *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="txtPhone" class="form-control" placeholder="Phone *" value="" />
                        </div>

                        <div class="form-group">
                            <input type="submit" name="btnSubmit" class="btn btn-success btnContact" value="Gửi" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea name="txtMsg" class="form-control" placeholder="Nội dung *" style="width: 100%; height: 150px;"></textarea>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
