<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thêm Sản Phẩm</title>
    <link rel="Shortcut icon" th:href="@{/admin.png}">

    <link th:href="${bootstrapCss}" rel="stylesheet">

</head>
<body>

    <div id="product-them" class="col-md-6">
        <h4>Thêm Sản Phẩm</h4>

        <form th:action="@{/admin/product/save}" method="post" th:object="${obj}" enctype="multipart/form-data">
            <div class="form-group row">
                <label class="col-sm-4">Product Name</label>

                <div class="col-sm-7">
                    <input type="text" th:field="*{productName}" class="form-control form-control-sm"
                           required>
                </div>
                <div class="col-sm-1 pa0">
                    <input type="hidden" th:field="*{favourite}" id="favourite">

                    <i class="far fa-star coGr cuPo" id="favouriteIconNo" onclick="updateFavourite()" title="Sản phẩm yêu thích: no"></i>
                    <i class="fas fa-star coRe cuPo" id="favouriteIconYes" onclick="updateFavourite()" title="Sản phẩm yêu thích: yes"></i>
                    <script th:inline="javascript">
                        let favouriteNo = 0;
                        let favouriteYes = 1;

                        let favourite = favouriteNo;
                        setFavouriteDisplay(favourite);

                        function updateFavourite() {
                            if (favourite == favouriteNo) {
                                favourite = favouriteYes;
                                setFavouriteDisplay(favourite);
                            } else if (favourite == favouriteYes) {
                                favourite = favouriteNo;
                                setFavouriteDisplay(favourite);
                            }

                            $("#favourite").val(favourite);
                        }

                        function setFavouriteDisplay(favourite) {
                            if (favourite == favouriteNo) {
                                $("#favouriteIconNo").css("display", "inline-block");
                                $("#favouriteIconYes").css("display", "none");
                            } else if (favourite == favouriteYes) {
                                $("#favouriteIconNo").css("display", "none");
                                $("#favouriteIconYes").css("display", "inline-block");
                            }
                        }
                    </script>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4">Description</label>

                <div class="col-sm-8">
                    <input type="text" th:field="*{description}" class="form-control form-control-sm">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4">Price</label>

                <div class="col-sm-8">
                    <input type="text" th:field="*{price}" class="form-control form-control-sm">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4">Chọn Menu</label>

                <div class="col-sm-8">
                    <select class="form-control form-control-sm" id="menu" name="menuDongId">
                        <option th:each="obj:${listMenuDong}" th:value="${obj.menuDongId}" th:text="${obj.menuName}">Menu Name</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4">Image</label>

                <div class="col-sm-8">
                    <input type="file" name="imageFile" class="form-control-file">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4">Quantity</label>

                <div class="col-sm-8">
                    <input type="text" th:field="*{quantity}" class="form-control form-control-sm">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4">Visible</label>

                <div class="col-sm-8">
                    <input type="hidden" th:field="*{visible}" id="visible">

                    <i class="fas fa-eye-slash text-secondary cuPo maRi10 foSi20" id="visibleIconNo" onclick="updateVisible()" title="hiển thị: no"></i>
                    <i class="fas fa-eye text-success cuPo foSi20" id="visibleIconYes" onclick="updateVisible()" title="hiển thị: yes"></i>

                    <script th:inline="javascript">
                        let visible = 1;
                        $("#visible").val(visible);

                        let visibleNo = 0;
                        let visibleYes = 1;

                        setVisibleDisplay(visible);

                        function updateVisible() {
                            console.log(1);
                            if (visible == visibleNo) {
                                visible = visibleYes;
                                setVisibleDisplay(visible);
                            } else if (visible == visibleYes) {
                                visible = visibleNo;
                                setVisibleDisplay(visible);
                            }

                            $("#visible").val(visible);
                        }

                        function setVisibleDisplay(visible) {
                            console.log(2);
                            if (visible == visibleNo) {
                                $("#visibleIconNo").css("display", "inline-block");
                                $("#visibleIconYes").css("display", "none");
                            } else if (visible == visibleYes) {
                                $("#visibleIconNo").css("display", "none");
                                $("#visibleIconYes").css("display", "inline-block");
                            }
                        }
                    </script>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Thêm</button>
        </form>

    </div>

</body>
</html>