
<!-- list product -->
<div class="" id="product-list">

    <div class="form-group row">
        <h4 class="col-sm-6">
            <span class="maRi4">Sản Phẩm</span>

            <a th:href="@{{host}/admin/product/them (host=${host})}">
                <i class="fas fa-plus-circle foSi16 text-primary"></i>
            </a>

        </h4>

        <!-- keyword -->
        <div class="col-sm-3">
            <form th:action="@{{host}/admin/product (host=${host})}" method="get">
                <div class="input-group input-group-sm mb-3">

                    <input type="text" class="form-control" required name="keyword" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Tìm</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-sm-3">
            <select class="form-control form-control-sm" id="filter_item">
                <option value="1" th:selected="${FILTER_ITEM == 1}">Toàn bộ</option>
                <option value="2" th:selected="${FILTER_ITEM == 2}">Yêu Thích</option>
                <option value="3" th:selected="${FILTER_ITEM == 3}">Invisible</option>
                <option value="4" th:selected="${FILTER_ITEM == 4}">Visible</option>
            </select>

            <script th:inline="javascript">
                $(document).ready(function () {
                    $('#filter_item').change(function() {
                        let host = [[${host}]];
                        var filterItem = $(this).find(":selected").val();
                        window.location.href = host + "/admin/product/filter/" + filterItem;

                    });

                });

            </script>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Giá</th>
                <th scope="col" class="text-center">Số Lượng</th>
                <th scope="col" class="text-center">Sale</th>
                <th scope="col">Thuộc Menu</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody>
            <tr th:if="${listProduct.empty}" scope="row">
                <td colspan="6" class="text-center">No Records Available</td>
            </tr>

            <tr th:each="obj:${listProduct}" th:class="${obj.isVisible == 1} ? 'visible' : 'in-visible' ">
                <td class="paTo9 paBo9 foSi13" scope="row">
                    <a th:href="@{/admin/product/edit/{productId}(productId=${obj.productId})}" class="foWe500">
                        <span th:text="${obj.productName}">Product Name</span>
                        <i class="far fa-star coRe foSi8" th:if="${obj.favourite > 0}" title="Sản phẩm yêu thích: yes"></i>
                    </a>
                </td>

                <td class="pa4 foSi13">
                    <span th:text="${obj.price}" class="price" th:style="${obj.sale == 1 ? 'text-decoration: line-through; color: #585858' : ''}">Giá</span>
                    <span th:text="${obj.giaConLai}" th:if="${obj.sale == 1}">Giá Còn Lại</span>
                </td>

                <td class="pa4 foSi13 text-center">
                    <span th:text="${obj.quantity}">Số Lượng</span>
                </td>

                <td class="pa4 foSi13 text-center">
                    <i class="maTo10 fas fa-dollar-sign text-primary" th:if="${obj.sale == 1}"></i>
                    <i class="maTo10 fas fa-dollar-sign text-secondary" th:if="${obj.sale == 0}"></i>
                </td>

                <td class="pa4 foSi13">
                    <span th:text="${obj.menuName}">Menu Name</span>
                </td>

                <td style="width: 10%" class="pa4 foSi13">
                    <img th:if="${obj.imageName != null}" th:src="@{'/image/' + ${obj.imageName}}" width="40" />
                </td>

                <td class="pa4 foSi13">
                    <a class="icon-action maRi10" th:href="@{/admin/product/edit/{productId}(productId=${obj.productId})}" title="edit">
                        <i class="fas fa-edit"></i>
                    </a>

                    <a class="icon-action cuPo" data-toggle="modal" data-target="#delete-data-modal" th:attr='onclick=|showModal("/admin/product/delete/" + ${obj.productId})|' title="delete">
                        <i class="far fa-trash-alt"></i>
                    </a>
                </td>

            </tr>
        </tbody>
    </table>

</div>
