<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sửa Sản Phẩm</title>
    <link rel="Shortcut icon" th:href="@{/admin.png}">

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css} "/>

</head>
<body>

    <div id="product-edit" class="col-md-6">
        <h4>Sửa Sản Phẩm</h4>

        <form th:action="@{{host}/admin/product/update (host=${host})}" method="post" enctype="multipart/form-data">
            <input type="hidden" class="form-control form-control-sm" th:field="*{product.productId}">

            <div class="form-group row">
                <label class="col-sm-4">Product Name</label>

                <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm"th:field="*{product.productName}"
                           required>
                </div>

                <div class="col-sm-1 pa0">
                    <input type="hidden" th:field="*{product.favourite}" id="favourite">

                    <i class="far fa-star coGr cuPo" onclick='updateFavourite(this, "favourite")' title="Sản phẩm yêu thích: no"></i>
                    <script th:inline="javascript">
                        function updateFavourite(e, data) {
                            let className = event.target.className;

                            if (className.includes("coGr")) {
                                $(e).removeClass("coGr");
                                $(e).addClass("coRe");

                                $("#" + data).val(1);
                            } else if (className.includes("coRe")) {
                                $(e).removeClass("coRe");
                                $(e).addClass("coGr");

                                $("#" + data).val(0);
                            }
                        }
                    </script>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4">Description</label>

                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" th:field="*{product.description}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4">Price</label>

                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" th:field="${product.price}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4">Menu Động</label>

                <div class="col-sm-8">
                    <select class="form-control form-control-sm" name="menuDongId">
                        <option th:each="obj:${listMenuDong}" th:value="${obj.menuDongId}" th:text="${obj.menuName}">Menu Name</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4"></label>

                <div class="col-sm-8">
                    <div class="form-group row">
                        <div class="col-sm-4 paRi0">
                            <img th:src="@{'/image/' + ${product.imageName}}" class="rounded wi100Pe">
                        </div>

                        <div class="col-sm-8">
                            <input type="hidden" th:field="*{product.imageName}">
                            <input type="file" name="imageFile" class="form-control-file">
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4">Quantity</label>

                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" th:field="*{product.quantity}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4">Visible</label>

                <div class="col-sm-8">
                    <input type="hidden" th:field="*{product.isVisible}" id="isVisible">

                    <i th:class="${product.isVisible == 0 ? 'fas fa-eye-slash text-secondary' : 'fas fa-eye text-success'} + ' cuPo foSi20'" class="fas fa-eye-slash text-secondary" onclick='updateIsVisible(this, "isVisible")' title="hiển thị: no"></i>
                    <script th:inline="javascript">
                        function updateIsVisible(e, idData) {
                            let className = event.target.className;

                            if (className.includes("text-secondary")) {
                                $(e).removeClass("text-secondary");
                                $(e).addClass("text-success");

                                $(e).removeClass("fas fa-eye-slash");
                                $(e).addClass("fas fa-eye");

                                $("#" + idData).val(1);
                            } else if (className.includes("text-success")) {
                                $(e).removeClass("text-success");
                                $(e).addClass("text-secondary");

                                $(e).removeClass("fas fa-eye");
                                $(e).addClass("fas fa-eye-slash");

                                $("#" + idData).val(0);
                            }
                        }
                    </script>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Gửi</button>
        </form>

    </div>

    <script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.14.1/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.min.js}"></script>

</body>
</html>