
<!-- product edit -->
<div id="product-edit" class="col-md-6">
    <h4 th:if="${product == null}">Thêm Sản Phẩm</h4>
    <h4 th:if="${product != null}">Sửa Sản Phẩm</h4>

    <form th:action="@{{host}/admin/product/update (host=${host})}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="productId" id="productId"
                    th:value="${product != null ? product.getProductId() : 0}">

        <div class="form-group row">
            <label class="col-sm-4">Product Name</label>

            <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm poAb wi91Pe" name="productName" id="productName"
                            th:value="${product != null ? product.getProductName() : ''}" required>

                <input type="hidden" name="favourite" id="favourite"
                            th:value="${product != null ? product.getFavourite() : 0}">
                <i th:class="${product != null && product.favourite == 0 ? 'coGr' : 'coRe'} + ' far fa-star cuPo poRe le260 to3'" onclick='updateFavourite(this, "favourite")' title="Sản phẩm yêu thích: no"></i>
                <script th:inline="javascript">
                    function updateFavourite(e, data) {
                        let className = event.target.className;

                        if (className.includes("coGr")) {
                            $(e).removeClass("coGr");
                            $(e).addClass("coRe");

                            $("#" + data).val(1);
                        } else if (className.includes("coRe")) {
                            $(e).removeClass("coRe");
                            $(e).addClass("coGr");

                            $("#" + data).val(0);
                        }
                    }
                </script>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4">Description</label>

            <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm" name="description" id="description"
                        th:value="${product != null ? product.getDescription() : ''}">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4">Price</label>

            <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm text-right" name="price" id="price"
                        th:value="${product != null ? product.getPrice() : 0}" onkeyup="calculateSale(this)" required>
            </div>
        </div>

        <div class="form-group row">
            <!-- sale -->
            <label class="col-sm-4">Sale</label>
            <div class="col-sm-1">
                <input type="hidden" name="sale" id="sale" th:value="${product != null ? product.getSale() : 0}">

                <i th:class="${product != null && product.sale == 0 ? 'text-secondary' : 'text-primary'} + ' fas fa-dollar-sign cuPo foSi14'" onclick='toggleSale(this, "sale")' title="hiển thị: no"></i>
                <script th:inline="javascript">
                    function toggleSale(e, idData) {

                        let className = event.target.className;
                        let arrTogCla = ["text-secondary", "text-primary"];
                        let arrTogEle = ["#salePercent", "#symbolPercent", "#salePrice", "#giaConLai"];

                        // toggle display none
                        togEle(arrTogEle);

                        if (className.includes(arrTogCla[0])) {
                            console.log(7);
                            $(e).removeClass(arrTogCla[0]);
                            $(e).addClass(arrTogCla[1]);

                            $("#" + idData).val(1);
                        } else if (className.includes(arrTogCla[1])) {
                            console.log(8);
                            $(e).removeClass(arrTogCla[1]);
                            $(e).addClass(arrTogCla[0]);

                            $("#" + idData).val(0);
                        }
                    }

                    // toggle sale
                    function togEle(arr) {
                        for (let i = 0; i < arr.length; i++) {
                            $(arr[i]).toggleClass("diNo");
                        }
                    }
                </script>
            </div>

            <div class="col-sm-2">
                <!-- Sale percent -->
                <input type="text" th:class="${product != null && product.sale == 1 ? '' : 'diNo'} + ' form-control form-control-sm poAb wi75Pe'"
                       onkeyup="calculateSale(this)" name="salePercent" id="salePercent" pattern="^([0-9]|\d\d|100)$">
                <!-- Symbol percent -->
                <label th:class="${product != null && product.sale == 1 ? '' : 'diNo'} + ' symbol-percent text-secondary cuTe'" id="symbolPercent" for="salePercent">%</label>
            </div>
            <div class="col-sm-5">
                <!-- Sale price -->
                <input type="text" th:class="${product != null && product.sale == 1 ? '' : 'diNo'} + ' form-control form-control-sm text-secondary foSi14 text-right'" name="salePrice" id="salePrice" readonly style="text-decoration: line-through;">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4">Giá Còn Lại</label>

            <div class="col-sm-8">
                <input type="text" th:class="${product != null && product.sale == 1 ? '' : 'diNo'} + ' form-control form-control-sm text-right foWe500 text-primary'" name="giaConLai" id="giaConLai" readonly>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4">Menu Động</label>

            <div class="col-sm-8">
                <select class="form-control form-control-sm" name="menuDongId">
                    <option th:each="obj:${listMenuDong}" th:value="${obj.menuDongId}" th:text="${obj.menuName}">Menu Name</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4"></label>

            <div class="col-sm-8">
                <div class="form-group row">
                    <div class="col-sm-4 paRi0">
                        <img th:src="@{'/image/' + ${product.imageName}}" th:if="${product != null && product.imageName != null}" class="rounded wi100Pe" alt="Ảnh Sản Phẩm">
                        <img th:src="@{'/image/img_not_available.png'}" th:if="${product == null || product.imageName == null}" class="rounded wi100Pe" alt="Ảnh Sản Phẩm">
                    </div>

                    <div class="col-sm-8">
                        <input type="hidden" name="imageName" id="imageName" th:value="${product != null ? product.getImageName() : ''}">
                        <input type="file" name="imageFile" class="form-control-file">
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4">Quantity</label>

            <div class="col-sm-8">
                <input type="number" name="quantity" id="quantity" th:value="${product != null ? product.getQuantity() : 0}" class="form-control form-control-sm">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4">Visible</label>

            <div class="col-sm-8">
                <input type="hidden" name="isVisible" id="isVisible" th:value="${product != null ? product.getIsVisible() : 1}">

                <i th:class="${product != null && product.isVisible == 0 ? 'fas fa-eye-slash text-secondary' : 'fas fa-eye text-success'} + ' cuPo foSi20'" class="fas fa-eye-slash text-secondary" onclick='updateIsVisible(this, "isVisible")' title="hiển thị: no"></i>
                <script th:inline="javascript">
                    function updateIsVisible(e, idData) {
                        let className = event.target.className;

                        if (className.includes("text-secondary")) {
                            $(e).removeClass("text-secondary");
                            $(e).addClass("text-success");

                            $(e).removeClass("fas fa-eye-slash");
                            $(e).addClass("fas fa-eye");

                            $("#" + idData).val(1);
                        } else if (className.includes("text-success")) {
                            $(e).removeClass("text-success");
                            $(e).addClass("text-secondary");

                            $(e).removeClass("fas fa-eye");
                            $(e).addClass("fas fa-eye-slash");

                            $("#" + idData).val(0);
                        }
                    }
                </script>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Lưu</button>
    </form>

</div>
