<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sản Phẩm</title>

    <link th:href="${bootstrapCss}" rel="stylesheet">

</head>
<body>

    <div class="" id="product-list">
        <h2>Sản Phẩm</h2>

        <a type="button" th:href="@{{host}/admin/product/them (host=${host})}" class="btn btn-info">Thêm</a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Giá</th>
                    <th scope="col">Số Lượng</th>
                    <th scope="col">Thuộc Menu</th>
                    <th scope="col">Sửa</th>
                    <th scope="col">Xoá</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${listProduct.empty}" scope="row">
                    <td colspan="6">No Books Available</td>
                </tr>

                <tr th:each="obj:${listProduct}">
                    <td scope="row">
                        <span th:text="${obj.name}">Name</span>
                    </td>

                    <td>
                        <span th:text="${obj.description}">Giá</span>
                    </td>

                    <td>
                        <span th:text="${obj.quantity}">Số Lượng</span>
                    </td>

                    <td>
                        <span th:text="${obj.menuDongId}">Thuộc Menu</span>
                    </td>

                    <td>
                        <a th:href="@{/admin/product/edit/{productId}(productId=${obj.productId})}" class="text-success">
                            <i class="fas fa-pen"></i>
                        </a>
                    </td>

                    <td>
                        <a class="text-danger icon-delete" data-toggle="modal" data-target="#delete-data-modal" th:attr='onclick=|showModal(${obj.productId})|'>
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </td>

                </tr>
            </tbody>
        </table>

        <div class="container d-flex justify-content-center">
            <div id="delete-data-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content border-0">
                        <div class="modal-body p-0">
                            <div class="card border-0 p-sm-3 p-2 justify-content-center">
                                <div class="card-header pb-0 bg-white border-0 ">
                                    <div class="row">
                                        <div class="col ml-auto">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true"></span>
                                            </button>
                                        </div>
                                    </div>

                                    <p class="font-weight-bold mb-2">Xoá bản ghi</p>
                                    <p class="text-muted ">Bạn có chắc chắn muốn xoá?</p>
                                </div>

                                <div class="card-body px-sm-4 mb-2 pt-1 pb-0">
                                    <div class="row justify-content-end no-gutters">
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-light text-muted" data-dismiss="modal">Cancel</button>
                                        </div>

                                        <div class="col-auto">
                                            <a class="btn btn-danger px-4 btn-delete">Delete</a>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(document).ready(function() {

            });
            function showModal(id) {
                console.log("show m");
                console.log(id);
                $(".btn-delete").attr("href", "/admin/product/delete/" + id);
            }
        </script>
    </div>

</body>
</html>