<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sửa Sản Phẩm</title>
    <link rel="Shortcut icon" th:href="@{/admin.png}">

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css} "/>

</head>
<body>

    <div id="product-edit" class="col-md-6">
        <h4>Sửa Sản Phẩm</h4>

        <form th:action="@{{host}/admin/product/update (host=${host})}" method="post" enctype="multipart/form-data">
            <div class="form-group row">
                <label class="col-sm-4">Id</label>

                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" th:field="*{product.productId}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4">Name</label>

                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" th:field="*{product.name}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4">Description</label>

                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" th:field="*{product.description}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4">Price</label>

                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" th:field="${product.price}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4">Menu Động</label>

                <div class="col-sm-8">
                    <select class="form-control form-control-sm" name="menuDongId">
                        <option th:each="obj:${listMenuDong}" th:value="${obj.menuDongId}" th:text="${obj.menuName}">Menu Name</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4"></label>

                <div class="col-sm-8">
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <img th:src="@{'/image/' + ${product.imageName}}" width="120">
                        </div>
                        <div class="col-sm-8">
                            <input type="file" name="imageFile" class="form-control-file">
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4">Quantity</label>

                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" th:field="*{product.quantity}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4">Visible</label>

                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" th:field="*{product.visible}">
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Gửi</button>
        </form>

    </div>

    <script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.14.1/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.min.js}"></script>

</body>
</html>