<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sản Phẩm</title>

    <link th:href="${bootstrapCss}" rel="stylesheet">
</head>
<body>

    <div class="" id="product-list">
        <div class="form-group row">
            <h4 class="col-sm-9">
                <span class="maRi4">Sản Phẩm</span>

                <a th:href="@{{host}/admin/product/them (host=${host})}">
                    <i class="fas fa-plus-circle foSi16 text-primary"></i>
                </a>
            </h4>

            <div class="col-sm-3">
                <select class="form-control form-control-sm" id="filter">
                    <option value="1" th:selected="${filter == 1}">Toàn bộ</option>
                    <option value="2" th:selected="${filter == 2}">
                        Yêu Thích
                    </option>
                    <option value="3" th:selected="${filter == 3}">Invisible</option>
                </select>

                <script th:inline="javascript">
                    $(document).ready(function () {
                        $('#filter').change(function() {
                            let host = [[${host}]];
                            var filterVal = $(this).find(":selected").val();
                            window.location.href = host + "/admin/product/filter/" + filterVal;

                        });

                    });

                </script>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Product Name</th>
                    <th scope="col">Giá</th>
                    <th scope="col">Số Lượng</th>
                    <th scope="col">Thuộc Menu</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${listProduct.empty}" scope="row">
                    <td colspan="6">No Books Available</td>
                </tr>

                <tr th:each="obj:${listProduct}" th:class="${obj.isVisible == 0} ? 'in-visible' : 'visible' ">
                    <td class="pa4 foSi13" scope="row">
                        <a th:href="@{/admin/product/edit/{productId}(productId=${obj.productId})}" class="foWe600">
                            <span th:text="${obj.productName}">Product Name</span>
                            <i class="far fa-star coRe foSi8" th:if="${obj.favourite > 0}" title="Sản phẩm yêu thích: yes"></i>
                        </a>
                    </td>

                    <td class="pa4 foSi13">
                        <span th:text="${obj.price}">Giá</span>
                    </td>

                    <td class="pa4 foSi13">
                        <span th:text="${obj.quantity}">Số Lượng</span>
                    </td>

                    <td class="pa4 foSi13">
                        <span th:text="${obj.menuDongId}">Thuộc Menu</span>
                    </td>

                    <td style="width: 10%" class="pa4 foSi13">
                        <img th:if="${obj.imageName != null}" th:src="@{'/image/' + ${obj.imageName}}" width="40" />
                    </td>

                    <td class="pa4 foSi13">
                        <a th:href="@{/admin/product/edit/{productId}(productId=${obj.productId})}" class="text-success maRi10">
                            <i class="fas fa-pen text-primary"></i>
                        </a>

                        <a class="text-danger cuPo" data-toggle="modal" data-target="#delete-data-modal" th:attr='onclick=|showModal(${obj.productId})|'>
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </td>

                </tr>
            </tbody>
        </table>

        <div class="container d-flex justify-content-center">
            <div id="delete-data-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content border-0">
                        <div class="modal-body p-0">
                            <div class="card border-0 p-sm-3 p-2 justify-content-center">
                                <div class="card-header pb-0 bg-white border-0 ">
                                    <div class="row">
                                        <div class="col ml-auto">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true"></span>
                                            </button>
                                        </div>
                                    </div>

                                    <p class="font-weight-bold mb-2">Xoá bản ghi</p>
                                    <p class="text-muted ">Bạn có chắc chắn muốn xoá?</p>
                                </div>

                                <div class="card-body px-sm-4 mb-2 pt-1 pb-0">
                                    <div class="row justify-content-end no-gutters">
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-light text-muted" data-dismiss="modal">Cancel</button>
                                        </div>

                                        <div class="col-auto">
                                            <a class="btn btn-danger px-4 btn-delete">Delete</a>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(document).ready(function() {

            });
            function showModal(id) {
                console.log("show m");
                console.log(id);
                $(".btn-delete").attr("href", "/admin/product/delete/" + id);
            }
        </script>
    </div>

</body>
</html>