
<div class="wrapper" id="side-bar-left">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Quản Lý</h3>
        </div>

        <ul class="list-unstyled components maBo0">
            <p>Dummy Heading</p>

            <li th:attr='class=${page == "home" ? "active" : ""}'>
                <a href="#home" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-home"></i>
                    <span>Home</span>
                </a>

                <ul class="collapse list-unstyled" id="home">
                    <li>
                        <a href="#">Home 1</a>
                    </li>

                    <li>
                        <a href="#">Home 2</a>
                    </li>

                    <li>
                        <a href="#" th:text="${page}">Home 3</a>
                    </li>
                </ul>
            </li>

            <li th:attr='class=${page == "product" || page == "product-them" || page == "product-edit" ? "active" : ""}'>
                <a th:href="@{{host}/admin/product (host=${host})}">
                    <i class="fab fa-product-hunt"></i>
                    <span>Product</span>
                </a>
            </li>

            <li th:attr='class=${page == "user" || page == "user-them" || page == "user-edit" ? "active" : ""}'>
                <a th:href="@{{host}/admin/user (host=${host})}">
                    <i class="fas fa-user"></i>
                    <span>User</span>
                </a>
            </li>

            <li th:attr='class=${page == "menu-dong" || page == "menu-dong-them" || page == "menu-dong-edit" ? "active" : ""}'>
                <a th:href="@{{host}/admin/menu-dong (host=${host})}">
                    <i class="fas fa-ellipsis-h" aria-hidden="true"></i>
                    <span>Menu Động</span>
                </a>
            </li>

            <li>
                <a href="#">Portfolio</a>
            </li>

            <li>
                <a href="#">
                    <i class="fas fa-cog"></i>
                    <span>Contact</span>
                </a>
            </li>
        </ul>

        <!-- Logout -->
        <ul class="list-unstyled components paToBo0">
            <li>
                <a th:href="@{{host}/logout (host=${host})}">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </nav>

    <!-- Page Content -->
    <div id="content">

        <!-- Page ngang -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span>Toggle</span>
                </button>

                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Product -->
        <div th:switch="${page}" th:case="product">
            <div th:insert="admin/product/product.html::#product-list"></div>
        </div>

        <div th:switch="${page}" th:case="product-them">
            <div th:insert="admin/product/product-them.html::#product-them"></div>
        </div>

        <div th:switch="${page}" th:case="product-edit">
            <div th:insert="admin/product/product-edit.html::#product-edit"></div>
        </div>

        <!-- User -->
        <div th:switch="${page}" th:case="user">
            <div th:insert="admin/user/user.html::#user-list"></div>
        </div>

        <div th:switch="${page}" th:case="user-them">
            <div th:insert="admin/user/user-them.html::#user-them"></div>
        </div>

        <div th:switch="${page}" th:case="user-edit">
            <div th:insert="admin/user/user-edit.html::#user-edit"></div>
        </div>

        <!-- Menu Động -->
        <div th:switch="${page}" th:case="menu-dong">
            <div th:insert="admin/menu-dong/menu-dong.html::#menu-dong-list"></div>
        </div>

        <div th:switch="${page}" th:case="menu-dong-them">
            <div th:insert="admin/menu-dong/menu-dong-them.html::#menu-dong-them"></div>
        </div>

        <div th:switch="${page}" th:case="menu-dong-edit">
            <div th:insert="admin/menu-dong/menu-dong-edit.html::#menu-dong-edit"></div>
        </div>

    </div>
</div>
